<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<!--
	=====================
		Partials/AutocompleteLink.html
-->
<f:spaceless>
    <li>
        Titel: {results.title -> f:format.raw()}<br />
        Beschreibung: {results.description}<br />
        Page-ID: {results.page_id}<br />
<f:comment>
    Item Title: {results.item_title}<br />
    Link: <f:link.typolink parameter="{results.page_id}" class="navigate-on-enter" title="Link zur Seite {results.title}">Link zur Seite: {results.title}</f:link.typolink>
    LinkAction: {results.title}
</f:comment>
    </li>
</f:spaceless>
</html>
